<% content_for :title, "My lists" %>
<h2 class="grid_2 alpha omega">My lists</h2>
	<!--a class="grid_10 alpha omega"  id="create_list_link" href="javascript:void(0);">Create new list</a-->	


<div class="clear"></div>
<% if @list.errors.any? %>
    <div class="grid_6 prefix_3 suffix_3">
      <div id="error_explanation">
        <h2>There are <%= pluralize(@list.errors.count, "error") %>:</h2>

        <ul>
          <% @list.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>


<%= render 'form' %>

<ul class="lists grid_12 alpha omega">
  <%= render :partial => "list", :collection => @lists, :as => :list %>
</ul>