<% content_for :title, "My lists" %>
<h2 class="grid_12 alpha omega">My lists</h2>

<% if @list.errors.any? %>
    <div class="grid_6 prefix_3 suffix_3">
      <div id="error_explanation">
        <h2>There are <%= pluralize(@list.errors.count, "error") %>:</h2>

        <ul>
          <% @list.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>


<%= render 'form' %>

<ul class="lists grid_12 alpha omega">
  <%= render :partial => "list", :collection => @lists, :as => :list %>
</ul>