<% content_for :title, "Home" %>
<div class="container_12">
  <h3>The real &quot;todoer&quot; does not need any application...</h3>
  <h1>
    Todolys will be your <%= link_to "last app", new_user_path %> on the way of refUsing any apps!
  </h1>
</div>
<div class="grid_4 step alpha">
	Have a mess of ideas and tasks in your head?
</div>
<div class="grid_4 step">
	<p>Free your mind!</p>
	<p>Just <%= link_to "sign up", new_user_path %> in 1 minute for free ...</p>
</div>
<div class="grid_4 step omega">
	<p>Create task lists.</p>
	<p>Estimate your tasks.</p>
</div>
	
