<% content_for :title, "Home" %>
<div class="grid_4">
	Have a mess of ideas and tasks in your head?
</div>
<div class="grid_4">
	Free your mind!
	Just <%= link_to "sign up", new_user_path %> in 1 minute for free ...
</div>
<div class="grid_4">
	Create task lists.
	Estimate your tasks.
</div>
	
